/* Write your CSS here */

.todo-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.todo-title {
  font-size: 18px;
  color: #000000;
  font-family: 'Roboto';
}

.todo-button {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #ff0b37;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 16px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .todo-title {
    font-size: 24px;
  }
  .todo-button {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: 32px;
  }
}
